<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.school.dao.interfaces.ILessonsDAO">
    <resultMap id="LessonResult" type="com.solvd.school.model.Lesson">
        <id property="id" column="id"/>
        <result property="classId" column="class_id"/>
        <result property="subjectId" column="subject_id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="classroomId" column="classroom_id"/>
        <result property="groupId" column="group_id"/> <!-- may be NULL -->
        <result property="dayOfWeek" column="day_of_week"/>
        <result property="lessonNumber" column="lesson_number"/>
    </resultMap>

    <select id="getById" parameterType="int" resultMap="LessonResult">
        SELECT id, class_id, subject_id, teacher_id, classroom_id, group_id, day_of_week, lesson_number
        FROM lessons WHERE id = #{id}
    </select>

    <select id="countAll" parameterType="com.solvd.school.model.Lesson" resultType="int">
        SELECT COUNT(*)
        FROM lessons
        WHERE (class_id = #{classId} AND day_of_week = #{dayOfWeek} AND lesson_number = #{lessonNumber})
        OR (teacher_id = #{teacherId} AND day_of_week = #{dayOfWeek} AND lesson_number = #{lessonNumber})
        OR (classroom_id = #{classroomId} AND day_of_week = #{dayOfWeek} AND lesson_number = #{lessonNumber})
    </select>

    <select id="getByClassAndDay" parameterType="map" resultMap="LessonResult">
        SELECT id, class_id, subject_id, teacher_id, classroom_id, group_id, day_of_week, lesson_number
        FROM lessons
        WHERE class_id = #{classId} AND day_of_week = #{dayOfWeek}
        ORDER BY lesson_number
    </select>

    <select id="getByClassroomAndDay" parameterType="map" resultMap="LessonResult">
        SELECT * FROM lessons
        WHERE classroom_id = #{classroomId}
        AND day_of_week = #{dayOfWeek}
    </select>

    <select id="getByClassroom" parameterType="int" resultMap="LessonResult">
        SELECT * FROM lessons 
        WHERE classroom_id = #{classroomId} 
        ORDER BY day_of_week, lesson_number
    </select>


    <select id="getByClass" parameterType="int" resultMap="LessonResult">
        SELECT id, subject_id, teacher_id, classroom_id, class_id, day_of_week, lesson_number
        FROM lessons
        WHERE class_id = #{classId}
        ORDER BY day_of_week, lesson_number
    </select>

    <select id="getByTeacher" parameterType="int" resultMap="LessonResult">
        SELECT * FROM lessons 
        WHERE teacher_id = #{teacherId} 
        ORDER BY day_of_week, lesson_number
    </select>

    <insert id="insert" parameterType="com.solvd.school.model.Lesson" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO lessons (class_id, subject_id, teacher_id, classroom_id, day_of_week, lesson_number)
        VALUES (#{classId}, #{subjectId}, #{teacherId}, #{classroomId}, #{dayOfWeek}, #{lessonNumber})
    </insert>

    <update id="update" parameterType="com.solvd.school.model.Lesson">
        UPDATE lessons
        SET class_id = #{classId},
        subject_id = #{subjectId},
        teacher_id = #{teacherId},
        classroom_id = #{classroomId},
        day_of_week = #{dayOfWeek},
        lesson_number = #{lessonNumber}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM lessons WHERE id = #{id}
    </delete>

    <select id="getByTeacherAndDay" parameterType="map" resultMap="LessonResult">
        SELECT * FROM lessons
        WHERE teacher_id = #{teacherId} AND day_of_week = #{dayOfWeek}
        ORDER BY lesson_number
    </select>

    <select id="getByTeacherAndTime" resultType="com.solvd.school.model.Lesson">
    SELECT * FROM lessons
    WHERE teacher_id = #{teacherId}
      AND day_of_week = #{dayNumber}
      AND lesson_number = #{lessonNumber}
    </select>

    <select id="getByClassroomAndTime" resultType="com.solvd.school.model.Lesson">
        SELECT * FROM lessons
        WHERE classroom_id = #{classroomId}
        AND day_of_week = #{dayNumber}
        AND lesson_number = #{lessonNumber}
    </select>


</mapper>
