<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.school.mybatis.mappers.StudentGroupsMapper">
  <resultMap id="StudentGroupResult" type="com.solvd.school.models.StudentGroup">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="classId" column="class_id"/>
  </resultMap>

  <select id="getById" parameterType="int" resultMap="StudentGroupResult">
    SELECT id, name, class_id FROM student_groups WHERE id = #{id}
  </select>

  <select id="getByClassId" parameterType="int" resultMap="StudentGroupResult">
    SELECT id, name, class_id FROM student_groups WHERE class_id = #{classId}
  </select>

  <select id="getAll" resultMap="StudentGroupResult">
    SELECT id, name, class_id FROM student_groups ORDER BY id
  </select>

  <insert id="insert" parameterType="com.solvd.school.models.StudentGroup" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO student_groups (name, class_id) VALUES (#{name}, #{classId})
  </insert>

  <update id="update" parameterType="com.solvd.school.models.StudentGroup">
    UPDATE student_groups SET name = #{name}, class_id = #{classId} WHERE id = #{id}
  </update>

  <delete id="delete" parameterType="int">
    DELETE FROM student_groups WHERE id = #{id}
  </delete>
</mapper>
