<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.school.dao.interfaces.ISubjectsDAO">
    <resultMap id="SubjectResult" type="com.solvd.school.model.Subject">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="requiresSpecialRoom" column="requires_special_room"/>
    </resultMap>

    <select id="getById" parameterType="int" resultMap="SubjectResult">
        SELECT id, name, requires_special_room FROM subjects WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="SubjectResult">
        SELECT id, name, requires_special_room FROM subjects ORDER BY id
    </select>

    <insert id="insert" parameterType="com.solvd.school.model.Subject" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO subjects (name, requires_special_room)
        VALUES (#{name}, #{requiresSpecialRoom}, #{hasStudentGroups})
    </insert>

    <update id="update" parameterType="com.solvd.school.model.Subject">
        UPDATE subjects
        SET name = #{name},
        requires_special_room = #{requiresSpecialRoom}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM subjects WHERE id = #{id}
    </delete>

    <select id="getByClassId" parameterType="int" resultMap="SubjectResult">
        SELECT s.id, s.name, s.requires_special_room
        FROM subjects s
        JOIN class_subjects cs ON s.id = cs.subject_id
        WHERE cs.class_id = #{classId}
    </select>

    <select id="getLessonsPerWeek" parameterType="map" resultType="int">
        SELECT cs.lessons_per_week
        FROM class_subjects cs
        WHERE cs.class_id = #{classId} AND cs.subject_id = #{subjectId}
    </select>

</mapper>
